.question {
    padding: 32px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  .radio-button {
      margin-top: 16px;
      margin-right: 16px;
  }