<form>
  <div>
    <mat-form-field fxFlex>
      <textarea matInput placeholder="Textul intrebarii" name="questionName" [(ngModel)]="question.text"></textarea>
    </mat-form-field>
    <span fxFlex="10"></span>
    <div>
      <mat-form-field fxFlex>
        <input matInput type="number" min="1" max="10" step="1" placeholder="Puncte" name="points" [(ngModel)]="question.points"
          (ngModelChange)="verify($event)">
      </mat-form-field>
    </div>
  </div>

  <mat-radio-group name="correctAnswer" [(ngModel)]="correct">
    <div *ngFor="let i of Arr(5).fill(1);let nr = index">
      <div>
        <mat-radio-button value="{{nr}}" class="radio-button"></mat-radio-button>
        <mat-form-field fxFlex="60">
          <input matInput placeholder="Varianta de raspuns {{nr+1}}" name="input-{{nr}}" [(ngModel)]="answers[nr]">
        </mat-form-field>
      </div>
    </div>
  </mat-radio-group>
</form>