<div fxLayout="row" fxLayoutAlign="center center" class="upper-margin">
  <mat-card>
    <mat-card-title>
      Autentificare
    </mat-card-title>
    <mat-card-content>
      <form #f="ngForm">
        <mat-form-field>
          <input [(ngModel)]="username" name="username" matInput autocomplete="new-password" placeholder="Utilizator" required>
          <mat-error *ngIf="user.invalid">{{getErrorMessage(user)}}</mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input [(ngModel)]="password" name="password" type="password" autocomplete="new-password" matInput placeholder="Parola" required>
          <mat-error *ngIf="pass.invalid">{{getErrorMessage(pass)}}</mat-error>
        </mat-form-field>
        <br/>

        <div *ngIf="checkingCredentials">
          <p [style.text-color]="primary">Verifcare date ...</p>
          <mat-spinner></mat-spinner>
        </div>

        <mat-error *ngIf="usernameOrPasswordWrong">Utilizatorul sau parola este gresita !</mat-error>

        <br/>
        <button [disabled]="!f.form.valid || checkingCredentials" type="submit" mat-raised-button (click)="login()" color="primary">Autentificare</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>