<ul>
    <mat-list-item *ngFor="let question of questions;let i = index">
     <div class="layout" fxLayout="row" fxLayoutAlign="center center" >
      <mat-card class="example-card3">
        <mat-card-header>
          <h1>{{question.text}}</h1>
        </mat-card-header>
  
        <mat-card-content>
           <mat-radio-group [(ngModel)]="response[i]">
              <div fxLayout="column" fxLayoutAlign="space-around none">
                 <mat-radio-button class="example-margin1" value=1><h2>{{question.answer1}}</h2></mat-radio-button>
                 <mat-radio-button class="example-margin1" value=2><h2>{{question.answer2}}</h2></mat-radio-button>
                 <mat-radio-button class="example-margin1" value=3><h2>{{question.answer3}}</h2></mat-radio-button>
                 <mat-radio-button class="example-margin1" value=4><h2>{{question.answer4}}</h2></mat-radio-button>
                 <mat-radio-button class="example-margin1" value=5><h2>{{question.answer5}}</h2></mat-radio-button>
                 <mat-radio-button class="example-margin1" value=6><h2>{{question.answer6}}</h2></mat-radio-button>
                </div>
           </mat-radio-group>
        </mat-card-content>
      </mat-card>
      </div>
    </mat-list-item>
  </ul>
<div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button (click)="alert()" color=warn ><h1>Submit</h1></button>
</div>