.example-card {
    text-align:center;
    width :95%;
    align-self: center;
    
  }
  
  .example-card:hover{
      color : white;
      background:#3f51b5;
  }
  .button{
      display: none;
      color:black;
      width: 10%; 
  }
 
  