.example-card1 {
    text-align:center;
    align-self: center;
    width: 300px;
  }
  
  .example-card1:hover{
      color : white;
      background:#3f51b5;
  }
  .button{
      display: none;
      color:black;
      width: 10%; 
  }
 
  