<div fxLayout="column" fxLayoutAlign="center stretch" >

  <mat-card class="example-card" id="Informatica" (mouseenter)="show('Informatica')" (mouseleave)="hide('Informatica')" >
  <mat-card-content  >
    <h1>
      Informatica
    </h1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="button" color=secondary (click)="GoTo('informatica')">Teste</button>
    <button mat-raised-button class="button" color=accent >Note</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" id="Geografie" (mouseenter)="show('Geografie')" (mouseleave)="hide('Geografie')" >
  <mat-card-content >
    <h1>
        Geografie
    </h1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="button" color=secondary >Teste</button>
    <button mat-raised-button class="button" color=accent >Note</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" id="Matematica" (mouseenter)="show('Matematica')" (mouseleave)="hide('Matematica')" >
    <mat-card-content >
      <h1>
          Matematica
      </h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button" color=secondary >Teste</button>
      <button mat-raised-button class="button" color=accent >Note</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="Biologie" (mouseenter)="show('Biologie')" (mouseleave)="hide('Biologie')" >
      <mat-card-content >
        <h1>
            Biologie
        </h1>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="button" color=secondary >Teste</button>
        <button mat-raised-button class="button" color=accent >Note</button>
      </mat-card-actions>
    </mat-card>

  <mat-card class="example-card" id="Chimie" (mouseenter)="show('Chimie')" (mouseleave)="hide('Chimie')" >
        <mat-card-content >
          <h1>
              Chimie
          </h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="button" color=secondary >Teste</button>
          <button mat-raised-button class="button" color=accent >Note</button>
        </mat-card-actions>
    </mat-card>

  <mat-card class="example-card" id="Fizica" (mouseenter)="show('Fizica')" (mouseleave)="hide('Fizica')" >
          <mat-card-content >
            <h1>
                Fizica
            </h1>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="button" color=secondary >Teste</button>
            <button mat-raised-button class="button" color=accent >Note</button>
          </mat-card-actions>
     </mat-card>

  <mat-card class="example-card" id="Engleza" (mouseenter)="show('Engleza')" (mouseleave)="hide('Engleza')" >
          <mat-card-content >
            <h1>
                Engleza
            </h1>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="button" color=secondary >Teste</button>
            <button mat-raised-button class="button" color=accent >Note</button>
          </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card" id="Franceza" (mouseenter)="show('Franceza')" (mouseleave)="hide('Franceza')" >
      <mat-card-content >
        <h1>
            Franceza
        </h1>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="button" color=secondary >Teste</button>
        <button mat-raised-button class="button" color=accent >Note</button>
      </mat-card-actions>
 </mat-card>
 <mat-card class="example-card" id="Romana" (mouseenter)="show('Romana')" (mouseleave)="hide('Romana')" >    
    <mat-card-content >
      <h1>
          Romana
      </h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button" color=secondary >Teste</button>
      <button mat-raised-button class="button" color=accent >Note</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card" id="Istorie" (mouseenter)="show('Istorie')" (mouseleave)="hide('Istorie')" >    
    <mat-card-content >
      <h1>
          Istorie
      </h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button" color=secondary >Teste</button>
      <button mat-raised-button class="button" color=accent >Note</button>
    </mat-card-actions>
</mat-card>

    </div>


  

